logging:
  level:
    root: INFO
    org.springframework.web: INFO

management:
  endpoints:
    web:
      exposure:
        include: "*"

spring:
  jackson:
    time-zone: IST

meta:
  about: HEALTHCARE