logging:
  level:
    root: INFO
    org.springframework.web: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh

spring:
  jackson:
    time-zone: UTC      
  output:
    ansi:
      enabled: always

meta:
  about: HEALTHCARE