logging:
  level:
    root: INFO
    org.springframework.web: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info

spring:
  jackson:
    time-zone: CST

meta:
  about: HEALTHCARE